---
http_interactions:
- request:
    method: get
    uri: https://blockstream.info/testnet/api/address/mkuKjJGEe3JabSbBk6kfNSLgiqFi6m97mi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"address":"mkuKjJGEe3JabSbBk6kfNSLgiqFi6m97mi","chain_stats":{"funded_txo_count":63,"funded_txo_sum":2412406,"spent_txo_count":61,"spent_txo_sum":2346896,"tx_count":39},"mempool_stats":{"funded_txo_count":0,"funded_txo_sum":0,"spent_txo_count":0,"spent_txo_sum":0,"tx_count":0}}'
  recorded_at: Wed, 06 Jul 2022 13:16:05 GMT
recorded_with: VCR 6.1.0
