---
http_interactions:
- request:
    method: get
    uri: https://blockstream.info/testnet/api/address/mkuKjJGEe3JabSbBk6kfNSLgiqFi6m97mi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"address":"mkuKjJGEe3JabSbBk6kfNSLgiqFi6m97mi","chain_stats":{"funded_txo_count":43,"funded_txo_sum":1730306,"spent_txo_count":41,"spent_txo_sum":1658796,"tx_count":29},"mempool_stats":{"funded_txo_count":0,"funded_txo_sum":0,"spent_txo_count":0,"spent_txo_sum":0,"tx_count":0}}'
  recorded_at: Sun, 03 Jul 2022 21:15:02 GMT
recorded_with: VCR 6.1.0
